<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Inventory.My.MySettings.InventoryConnectionString" connectionString="Data Source=SARAN;Initial Catalog=Inventory;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.TSoft_Billing_1ConnectionString" connectionString="Data Source=TSOFTPC;Initial Catalog=TSoft_Billing_1;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_1ConnectionString1" connectionString="Data Source=LENOVOPC2;Initial Catalog=tsoft_billing_1;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_1ConnectionString2" connectionString="Data Source=LENOVOPC\sql2005;Initial Catalog=tsoft_billing_1;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_3ConnectionString" connectionString="Data Source=DEVA-PC\TSOFT;Initial Catalog=tsoft_billing_3;User ID=SA;Password=tsoftsql" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_10ConnectionString" connectionString="Data Source=DEVA-PC\TSOFT;Initial Catalog=tsoft_billing_10;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_1ConnectionString3" connectionString="Data Source=.\TSOFT1;Initial Catalog=tsoft_billing_1;User ID=sa;Password=tsoftsql" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_1ConnectionString4" connectionString="Data Source=ACER\NOVA2014;Initial Catalog=tsoft_billing_1;User ID=SA" providerName="System.Data.SqlClient" />
    <add name="Billing.My.MySettings.tsoft_billing_1ConnectionString5" connectionString="Data Source=ACER\NOVA2014;Initial Catalog=tsoft_billing_1;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>